@import 'variables.css';
@import 'utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#__next {
  height: 100%;
  cursor: url(/cursors/arr-pointer.cur), default;
}

body {
  font-family: EuroStyle, Arial, Helvetica, sans-serif;
  letter-spacing: 0.105rem;
}

input[type='text'],
input[type='password'] {
  cursor: url(/cursors/arr-text.cur), text;
  font-family: Arial, Helvetica, sans-serif;
}

button,
a,
.cursor-link,
input[type='checkbox'],
select,
option {
  cursor: url(/cursors/arr-link.cur), pointer;
}

button:disabled {
  cursor: url(/cursors/arr-forbidden.cur), pointer;
}
